 .question{
   background: var(--gray-100);
   border-radius: 8px;
   box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.04);
   padding: 2rem;

   & + .question {
     margin-top: 0.8rem;
   }

   &:hover button{
    color: var(--purple-500);
    svg path, circle{
      stroke: var(--purple-500);
    }
  }

  &.highlighted{
    background: var(--purple-100);
    border: 1px solid var(--purple-500);
    font-weight: 500;

    footer .user-info span {
      color: var(--purple-500);
    }

    &:hover button{
      color: var(--greenyellow-500);
      svg path, circle{
        stroke: var(--greenyellow-500);
      }
    }
  }

  &.answered{
    background: var(--gray-200);
    > p{
      color: var(--gray-500);
    }
    &:hover button{
      color: var(--gray-300);
      svg path, circle{
        stroke: var(--gray-500);
      }
    }
  }

   p{
     color: var(--gray-800);
   }

   footer{
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 2rem;

     .user-info{
      display: flex;
      align-items: center;

      img{
        width: 2.1rem;
        height: 2.1rem;
        border-radius: 50%;
      }

      span{
        margin-left: 0.8rem;
        color: var(--gray-500);
        font-size: 0.97rem;
      }
    }

    > div {
      display: flex;
      gap: 0.8rem;
    }

    button{
      border: 0;
      background:transparent;
      cursor: pointer;
      transition: filter 0.2s;

      &.like-button{
        display: flex;
        align-items: flex-end;
        color: var(--gray-500);
        gap: 0.8rem;

        &.liked {
          color: var(--purple-500);
          svg path{
            stroke: var(--purple-500);
          }
        }
      }

      &:hover{
        filter: brightness(0.7);
      }
    }
   }
 }