*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --purple-100: #EDE5FB;
  --purple-500: #7D3FE0;
  --purple-700:#6432b3;
  --greenyellow-500: #7DE03F;
  --greenyellow-700:#64b332;
  --white:#FFFFFF;
  --gray-100:#f8f8f8;
  --gray-200:#d1d1d1;
  --gray-300:#767679;
  --gray-500: #545458;
  --gray-700: #37373b;
  --gray-800: #29292e;
}

body {
  background:var(--gray-100);
  color: var(--gray-800);
}

body, input, select, textarea{
  font: 400 16px 'Roboto', sans-serif;
}

h1 {
  color: var(--purple-700);
}

h2 {
  color: var(--gray-700);
}

