#page-room{
  header {
    padding: 24px;
    border-bottom: 1px solid var(--gray-200);

    .content {
      max-width: 1020px;
      margin: 0 auto;
      display: flex;
      justify-content:space-between;
      align-items: center;

      > img{
        max-width: 100px;
      }
      > div{
        display: flex;
        gap: 1rem;
      }
      button{
        height:2rem;
      }
    }
  }

  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;

    .room-title{
      margin: 2rem 0 1.8rem;
      display: flex;
      align-items:center;

      h1{
        font-family: 'Poppins', sans-serif;
        font: size 24px;
        color: var(--gray-800);
      }

      span{
        margin-left: 1rem;
        background-color: var(--greenyellow-500);
        border-radius: 9999px;
        padding: 0.5rem 1rem;
        color: var(--white);
        font-weight: 500;
        font: size 0.8rem;
      }
    }

    form{
      textarea{
        width: 100%;
        border:0;
        padding: 1rem;
        border-radius: 8px;
        background:var(--white);
        box-shadow: 0 2px 12px rgba(0,0,0,0.04);
        resize: vertical;
        min-height: 130px;
      }

      .form-footer{
        display: flex;
        justify-content:space-between;
        align-items: center;
        margin-top: 1rem;

        .user-info{
          display: flex;
          align-items: center;

          img{
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
          }

          span{
            margin-left: 0.8rem;
            color:var(--gray-800);
            font-weight: 500;
            font-size: 0.9rem;
          }
        }

        > span{
          font-size: 0.9rem;
          color: var(--gray-500);
          font-weight: 500;

          button{
            background:transparent;
            border: 0;
            color: var(--purple-500);
            text-decoration: underline;
            font-size: 0.9rem;
            font-weight: 500;
            cursor: pointer;
          }
        }
      }
    }
    .question-list{
      margin-top: 2rem;
    }
  }
}